<div class="col-lg-12" id="connexionActions">
	
	<div class="btn-group">
		<button ng-disabled="$ctrl.isEtudiant" ng-click="etudiant()" class="btn btn-primary">
			Etudiant
		</button>
		<button ng-disabled="!$ctrl.isEtudiant" ng-click="entreprise()" class="btn btn-primary">
			Entreprise
		</button>
	</div>
	
	<div ng-switch on="$ctrl.tab">
	  <div ng-switch-when="etudiant">
	  	<h1>Etudiant</h1>
	  	<form>
	  	<p>

		</p>
		</form>
		<form novalidate>
			<label for="datePromo">Promo:</label>
			<input type="number" ng-model="datePromo" id="datePromo" name="datePromo" min="2000" max="" value="2017" />
			<br/><br/>
			<button ng-click="authenticate('linkedin')" class="btn btn-primary">
				S'inscrire avec LinkedIn
			</button>
		</form>
	  </div>
	  <div ng-switch-when="entreprise">
	  	<h1>Entreprise</h1>
	 	 <button ng-click="authenticate('linkedin')" class="btn btn-primary">
			S'inscrire avec LinkedIn
		 </button>
	  </div>
	  <div ng-switch-default>	
		 
	  </div>
	</div>

</div>
