<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">



	<!--  spring va creer le ben en mémoire -->
	<bean id="User" class="com.m1Info.user.UserImpl" />

	<bean id="userSpringAction" class="com.m1Info.action.UserSpringAction">
		<property name="user" ref="User" />
	</bean>



    
    
    
    
</beans>
